@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap");
:root {
  background: linear-gradient(
    45deg,
    rgb(35, 137, 255) 0%,
    rgb(30, 60, 156) 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2e2b2b;
  padding: 30px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.App h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
  color: rgb(35, 137, 255);
}

Button {
  margin: 3px;
}

#radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3px;
  padding: 3px;
}
